
body {
    font-family: Arial, sans-serif;
    background-position: center;
    color: #c86b6b;
}
.title {
    font-size: 60px; 
}



h1 {
    margin: 0;
    padding: 10px;
    color: #c86b6b;
}

main {
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: left;
}
.image-square {
    display: inline-block; 
    width: 400px; 
    height: 400px; 
    overflow: hidden; 
    position: relative; 
    border: 1px solid #ffffff; 
}

.image-square img {
    width: 100%; 
    height: auto; 
    display: block; 
}
.game-board {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-bottom: 20px;
}

.game-controls {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

footer {
    background-color: #ffffff;
    color: #c86b6b;
    padding: 20px;
    text-align: right;
}